<div class="navbar-collapse collapse">
                <div id="main-menu">

                    <div id="phone-navigation" class="visible-xs">
                        <ul id="dashboard-menu" class="nav nav-list">
                            {{#each menuList as |menu| }}
                            <li class="">
                                <a href="{{menu.href}}">
                                    <i class="{{menu.icon}}" aria-hidden="true"></i>
                                    <span class="caption">{{menu.name_menu}}</span>
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                    <ul class="nav nav-tabs hidden-xs">
                        {{#each menuList as |menu| }}
                        <li class="">
                            <a href="{{menu.href}}">
                                <i class="{{menu.icon}}" aria-hidden="true"></i>
                                <span class="caption">{{menu.name_menu}}</span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>

                </div>
            </div>